{% extends 'admin-base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main">


    <div class="main-content project">
        <div>
            <h4 class="box-title fs-22">
                {{status}} Bespoke Orders for 
                <a href="{% url 'myadmin:client-detail' client.pk %}">{{client}}</a>
            </h4>
        </div>
        <div class="row">
            <div class="col-9 col-xl-7 col-md-8 col-sm-12">
                <div class="box card-box p-1">
                    <div class="icon-box bg-color-6 d-block ">

                        <div class="content text-center color-6 ">
                            <h5 class="title-box fs-17 font-w500">Total Orders</h5>
                            <div class="themesflat-counter fs-18 font-wb">
                                <span class="number" data-from="0" data-to="309" data-speed="2500"
                                    data-inviewport="yes">{{client.bespoke_order.all|length}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box bg-color-8 d-block">

                        <div class="content text-center color-8">
                            <h5 class="title-box fs-17 font-w500">Newly Added</h5>
                            <div class="themesflat-counter fs-18 font-wb">
                                <span class="number" data-from="0" data-to="309" data-speed="2500"
                                    data-inviewport="yes">{{new_orders_count}}</span>
                            </div>
                            <span style="font-size: 12px;color: black;">This Week</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-3 col-xl-5 col-md-4 col-sm-12">
                <div class="box h-100 d-flex align-items-center" style="background-color: transparent;padding: 0;">
                    <a class="create d-flex bg-primary justify-content-center"
                        href="{% url 'myadmin:bespoke-orders-create' client.pk %}">
                        <div class="icon color-white pt-4 pr-8">
                            <i class='bx bx-plus-circle'></i>
                        </div>
                        <div class="content">
                            <h5 class="color-white">Add A New Bespoke Order</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Tabbed Navigation for Order Status -->




        <div class="row">

            <div class="col-12">
                <div class="box-header pt-0 pl-0 ms-0 mb-4 mt-4 border-bottom-0 responsive-header">
                    <h4 class="box-title fs-22">
                        {{status}} Bespoke Orders for {{client}}
                    </h4>
                    <div class="card-options">
                        <div class="btn-list d-flex">
                            {% for status in available_statuses %}
                            <a href="{% url 'myadmin:client-bespoke-orders' client.pk  status|lower %}"
                                class="btn {% if status == selected_status %}btn-primary{% else %}btn-light{% endif %} d-flex align-items-center mr-5 tab ">

                                {{ status }}
                            </a>

                            {% endfor %}


                            <ul class="dropdown-menu dropdown-menu-end" role="menu">
                                <li><a href="#">A-Z</a></li>
                                <li><a href="#">Top</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box ">
                    <div class="box-body pb-0 table-responsive activity mt-0">
                        <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer mw-100"
                            id="bespoke-orders-table" role="grid">
                            <thead>
                                <tr class="top">
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 150px;">Order ID
                                    </th>
                                  
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 150px;">Style</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 100px;"> Order Status
                                    </th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 150px;">Total Cost
                                    </th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 150px;">Advance
                                        Payment</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 150px;">Expected
                                        Delivery</th>
                                    <th class="border-bottom-0 sorting_disabled fs-14 font-w500" style="width: 145px;">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr class="{% cycle 'odd' 'even' %}">
                                    <td>
                                        <a  href="{% url 'myadmin:bespoke-orders-detail' order.pk %}"  class="d-flex">
                                            <span><b>{{ order.order_id }}</b></span>
                                        </a>
                                    </td>
                                  
                                    <td>{% if order.style %} {{ order.style.name  }} {% else %} "N/A" {% endif %}</td>
                                    <td>
                                        
                                        {% if order.status_log.exists %}
                                        {% if order.status.status == BO_STATUS_LOG_READY_FOR_DELIVERY %}
                                        <span
                                            class="task-btn bg-success-1 text-success-1 fs-14">{{ order.status.status }}
                                        </span>
                                        {% else %}
                                        <span
                                            class="task-btn bg-secondary text-white fs-14">{{ order.status.status }}
                                        </span>
                                        {% endif  %}
                                        {% else %}

                                        <span class="task-btn bg-secondary text-white fs-14">N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>₦{{ order.total_cost|floatformat:"2"|intcomma }}</td>
                                    <td>₦{{ order.advance_payment|floatformat:"2"|intcomma }}</td>
                                    <td>{{ order.expected_date_of_delivery|date:"Y-m-d" }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class='bx bx-dots-horizontal-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#delete_order">
                                                    <i class="bx bx-trash"></i> Delete
                                                </a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#edit_order">
                                                    <i class="bx bx-edit mr-5"></i>Edit
                                                </a>
                                                <a class="dropdown-item"
                                                    href="{% url 'myadmin:bespoke-orders-detail' order.pk %}">
                                                    <i class="bx bx-eye mr-5"></i>View Details
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>

{% endblock %}