{% extends 'staff-base.html' %}

{% load static %}
{% load core %}
{% load humanize %}
{% block content %}
<div class="main">

    <div class="main-content project">

        <div class="col-4 col-xl-12">
            <div class="box user-pro-list overflow-hidden mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600"></div>
                    <span>
                        <a href="{% url 'staff-profile-update'   %}">
                            <button class="btn bg-primary color-white w-100 waves-effect waves-light fs-18 font-w500"
                                type="submit">
                                <i class="bx bx-edit-alt"></i> Update
                            </button>
                        </a>



                    </span>
                </div>
                <div class="box-body">
                    <div class="user-pic text-center">
                        <div class="avar ">
                           
                            
                     
                            <img src="{{staff.user.dp}}" alt="" height="160px">
                         
                            <div class="pulse-css"></div>
                        </div>
                        <div class="pro-user " style="margin-top: 0px;">
                            <h5 class="pro-user-username text-dark mb-2 fs-15 mt-42 color-span">
                                {{staff.user.full_name}}
                            </h5>

                        </div>
                    </div>
                </div>


            </div>


            <div class="box left-dot mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600">Info</div>
                 
                </div>
                <div class="box-body pt-20 user-profile">
                    <div class="table-responsive">
                        <table class="table mb-0 mw-100 color-span">
                            <tbody>

                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Staff ID </span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.user.account_id}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Full Name</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.user.full_name}}</span> </td>
                                </tr>

                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Gender</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.user.gender|capitalize}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">National ID Number</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.national_id_number}}</span> </td>
                                </tr>


                                <!--tr>
                                    <td class="py-2 px-0"> <span class="w-50">Status</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="badge badge-success">Active</span> </td>
                                </tr-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box left-dot mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600">Contact Details</div>

                </div>
                <div class="box-body pt-20 user-profile">
                    <div class="table-responsive">
                        <table class="table mb-0 mw-100 color-span">
                            <tbody>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Email ID</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.user.email}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Phone Number</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.user.phone_number|default:"None"}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Whatsapp Number</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.user.whatsapp_number|default:"None"}}</span> </td>
                                </tr>

                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Emergency Contact Name</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.emergency_contact_name|default:"None Set"}}</span> </td>
                                </tr>

                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Emergency Contact Number</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.emergency_contact_number|default:"None Set"}}</span> </td>
                                </tr>




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box left-dot mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600">Employment Details</div>

                </div>
                <div class="box-body pt-20 user-profile">

                    <div class="table-responsive">
                        <table class="table mb-0 mw-100 color-span">
                            <tbody>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Contract Type</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.contract_type |capitalize}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Department</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.get_department_display|capitalize}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Date Of Employment</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.date_added|date|default:"None"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Employment Status</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.employment_status|capitalize}}</span>
                                    </td>
                                </tr>

                                {% if staff.date_terminated %}
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Date Of Termination</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.date_terminated}}</span> </td>
                                </tr>
                                {% endif %}




                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


            <div class="box left-dot mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600">Salary Details</div>
               
                </div>
                <div class="box-body pt-20 user-profile">
                    <div class="table-responsive">
                        <table class="table mb-0 mw-100 color-span">
                            <tbody>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Is Salary Fixed ?</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.is_salary_fixed_verbose}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Salary Cycle</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.salary_cycle}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Salary</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">
                                            {% if staff.salary %}
                                            &#8358;  {{staff.salary}}</span> </td>
                                    {% else %}
                                    Not Fixed
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Bank Name</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span class="">{{staff.bank_name|default:"None Set"}}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Bank Account Name</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.bank_account_name|default:"None Set"}}</span> </td>
                                </tr>
                                <tr>
                                    <td class="py-2 px-0"> <span class="w-50">Bank Account Number</span> </td>
                                    <td>:</td>
                                    <td class="py-2 px-0"> <span
                                            class="">{{staff.bank_account_number|default:"None Set"}}</span> </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="box left-dot mb-30">
                <div class="box-header  border-0 pd-0">
                    <div class="box-title fs-20 font-w600">Salary Logs</div>
                    <span hidden>
                        <a href="{% url 'myadmin:staff-update' staff.pk  %}">
                            <button class="btn bg-primary color-white w-100 waves-effect waves-light fs-18 font-w500"
                                type="submit">
                                <i class="bx bx-edit-alt"></i> Update
                            </button>
                        </a>



                    </span>
                </div>
                <div class="box-body pb-0 table-responsive activity mt-0 pt-5">
                    {% if staff.salary_log.all %}
                    <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer mw-100 mt-5"
                    id="unpaid-salaries" role="grid">
                    <thead>
                        <tr class="top">
  

                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 120px;">Amount Due
                            </th>
                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 120px;">Date Due
                            </th>
                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 120px;">Date Paid
                            </th>
                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 2000px;">Remarks
                            </th>
                           
                            <th class="border-bottom-0 sorting_disabled fs-14 font-w500" style="width: 150px;">
                                Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in staff.get_paid_salary_logs %}
                        <tr class="{% cycle 'odd' 'even' %}">
                           
                            <td>₦{{ log.amount_due|intcomma }}</td>
                            {% if log.date_due %}
                            <td>{{ log.date_due|date }}</td>
                            {% else %}
                            <td>NOT DUE YET</td>
                            {% endif %}
                            {% if log.date_paid %}
                            <td>{{ log.date_paid|date }}</td>
                            {% else %}
                            <td>NOT PAID YET</td>
                            {% endif %}
                            <td>{{log.remarks|default:"No remarks"}}</td>
                            
                            <td hidden>
                                <div class="dropdown">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class='bx bx-dots-horizontal-rounded'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                            href="{% url 'myadmin:staff-update' log.staff.pk %}"><i
                                                class="bx bx-edit mr-5"></i> Edit</a>
                                        <a class="dropdown-item"
                                            href="{% url 'myadmin:staff-delete' log.staff.pk %}"
                                            data-toggle="modal" data-target="#delete_staff"><i
                                                class="bx bx-trash"></i> Delete</a>
                                        <a class="dropdown-item"
                                            href="{% url 'myadmin:staff-detail' log.staff.pk %}"><i
                                                class="bx bx-info-circle mr-5"></i> View Details</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="mt-5 mb-5">
                            <td colspan="9">No salary history available, they would appear here.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    {% else %}
                    <p class="mt-3 text-center">
                        This staff has no salary logs Yet</p>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
</div>



<div class="overlay"></div>


{% endblock %}