{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero section-padding">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-xl-5 col-lg-5 mb-4">
                <p class="hero-writeup">
                    Sewn to Perfection: Your Style, Your Story, Our <b>Craftsmanship.</b><br> 
                    Redefine your confidence<br>
                    with unmatched Precision, Passion, and Personalization.
                </p>
                <a href="#0">
                    <button class="light-bg-button ">
                        Talk With Us
                        <ion-icon name="chatbubble-outline"></ion-icon>
                    </button>
                </a>
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        See Catalogue
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
               
    
            </div>
            <div class="col-12 col-xl-7 col-lg-7" >
                <img class="hero-img img-cover"  src="{% static 'img/tailors2.jpg' %}">
              
            
    
            </div>
        </div>
    </div>
   
   
</section>


<section class="app-wrap style3 section-padding">
    <div class="container">
        <div class="row align-items-center gx-5">
           
            <div class="col-12 col-xl-6 col-lg-6 mb-4 ">
                <div class="app-content">
                    <div class="content-title style1">
                        
                        <h2>Step 1 : Explore Our Catalogue</h2>
                        <p>Welcome to the first step in creating your perfect look with {{site_name}}. Our extensive catalogue is your gateway to a world of style possibilities.

                            
                        </p>
                        <h4>Discover Your Unique Style:</h4>
                        <p>
                            
                            
                            Browse through our curated collection of meticulously crafted clothing. From timeless classics to modern trends, we offer a diverse range of styles to suit every occasion and preference.
                        </p>
                        <p>Feel free to talk with our experts, if you have your own style in description or as an image, video or document</p>
                    </div>
                    <div class="app-btn">
                        <a href="#0">
                            <button class="light-bg-button ">
                                Talk WIth Us
                      
                        <ion-icon name="chatbubble-outline"></ion-icon>
                     </button>
                </a>
               
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        See Catalogue
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 ">
              
                    <img  style="object-fit: cover;max-height: 500px;width: 100%;border-radius: 20px;"  height=""  class="bounce" src="{% static 'img/catalogue-explore.jpg' %}" alt="Image">
                 
             
            </div>
        </div>
    </div>
</section>
<section class="app-wrap style3 section-padding">
    <div class="container">
        <div class="row align-items-center gx-5">
           
        
            <div class="col-12 col-xl-6 col-lg-6 mb-4">
                <div class="app-img-wrap">
                    <img  style="object-fit: cover;max-height: 600px;width: 100%;border-radius: 20px;"  height=""  class="bounce" src="{% static 'img/measurement.jpg' %}" alt="Image">
                   
                </div>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 ">
                <div class="app-content">
                    <div class="content-title style1">
                       
                        <h2>Step 2: Add Your Measurements</h2>
                        <p>
                             We understand that every body is unique, and achieving the perfect fit is essential.
                        </p>
                        <h4>Three Easy Options for Measurements:</h4>
                      

    <ol>
        <li>
            <h5>Add Your Measurements Online:</h5>
            <p>
                - Use our user-friendly <a href="#measurement-guide">measurement guide</a> to input your measurements accurately.<br>
                - We'll walk you through each step, making it simple and hassle-free.<br>
                - Don't worry if you're not sure how to measure – our guide provides clear instructions.
            </p>
        </li>
        <li>
            <h5>Talk to Us for Personalized Guidance:</h5>
            <p>
                - If you're uncertain about taking your measurements, our expert team is here to help.<br>
                - Contact our friendly consultants, and we'll provide you with step-by-step guidance.<br>
              
            </p>
        </li>
        <li>
            <h5>Schedule a Measurement Appointment:</h5>
            <p>
                - For the ultimate convenience, we can arrange for a professional tailor to come to you.<br>
                - Our expert will take precise measurements to guarantee a perfect fit.<br>
                - Alternatively, we can recommend a trusted local tailor if you prefer an in-person experience.
            </p>
        </li>
    </ol>
                    </div>
                    <div class="app-btn">
                        <a href="#0">
                            <button class="light-bg-button ">
                                Talk WIth Us
                      
                        <ion-icon name="chatbubble-outline"></ion-icon>
                     </button>
                </a>
               
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        See Catalogue
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-wrap style3 section-padding">
    <div class="container">
        <div class="row align-items-center gx-5">
           
            <div class="col-12 col-xl-6 col-lg-6 mb-4">
                <div class="app-content">
                    <div class="content-title style1">
                      
                        <h2>Step 3: Select Your Fabric</h2>
                        <p>We offer a wide selection of premium fabrics to ensure your tailored piece
                             not only fits flawlessly but feels exquisite. we have convenient options for you.
                        </p>
                        <h5>1.Explore Our Fabric Collection</h5>
                        <p>Browse through our extensive range of fabrics, carefully curated to meet diverse tastes and styles. Our collection includes:</p>
                        <ul>
                            <li><strong>Cotton:</strong> Perfect for casual and breathable wear.</li>
                            <li><strong>Silk:</strong> Ideal for elegant and luxurious garments.</li>
                            <li><strong>Wool:</strong> A classic choice for warmth and comfort.</li>
                            <li><strong>Linen:</strong> A lightweight option for a relaxed look.</li>
                            <li><strong>Blend Fabrics:</strong> Combining qualities for unique textures and functionality.</li>
                        </ul>
                      
                        <p>Still uncertain? We offer the option to order fabric samples, allowing you to feel and see the fabric in person before making your final choice.</p>


 
                        <h5>2. We can also work with your own fabric</h5>
                        <p>Still uncertain? We offer the option to order fabric samples, we offer you the option to use your own fabric, we would come for a pick up once your order is completed.</p>
                        
                      
                        <h5>3. Expert Guidance</h5>
                        <p>Our experienced team is here to assist you. Feel free to reach out for personalized recommendations or any questions you may have.</p>

    


                    </div>
                    <div class="app-btn">
                        <a href="#0">
                            <button class="light-bg-button ">
                                Talk WIth Us
                      
                        <ion-icon name="chatbubble-outline"></ion-icon>
                     </button>
                </a>
               
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        See Fabric Collection
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 ">
                <div class="app-img-wrap">
                    <img  style="object-fit: cover;max-height: 600px;width: 100%;border-radius: 20px;"  height=""  class="bounce" src="{% static 'img/fabrics.jpg' %}" alt="Image">
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-wrap style3 section-padding">
    <div class="container">
        <div class="row align-items-center gx-5">
           
        
            <div class="col-12 col-xl-6 col-lg-6 mb-4">
                <div class="app-img-wrap">
                    <img  style="object-fit: cover;max-height: 500px;width: 100%;border-radius: 20px;"  height=""  class="bounce" src="{% static 'img/complete-order.jpg' %}" alt="Image">
                   
                </div>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 ">
                <div class="app-content">
                    <div class="content-title style1">
                       
                        <h2>Step 4: Finalize Your Order</h2>
                        <p>Congratulations on selecting the perfect fabric for your tailored garment! The next step is to finalize your order and make an advanced payment. This ensures that we have all the necessary details to create your unique piece. Here's how to proceed:</p>

                        <h5>1. Order Confirmation</h5>
                        <p>Before we proceed, we'll review your order together to make sure all the details align with your preferences. This is your opportunity to double-check and confirm every aspect of your order.</p>
                        
                        <h5>2. Advanced Payment</h5>
                        <p>You can choose from various payment options, including credit card payments, bank transfers, and cash payments, to ensure your convenience. Advanced payments are usually the sum of cost of the fabric and 60% of the labour charge.</p>
                    
                      
                        <h5>3. Order Confirmation Receipt</h5>
                        <p>After your advanced payment is received and processed, we will send you an order confirmation receipt. This document will include a summary of your order, the advance payment details, and the estimated completion date.</p>
                    
                      

                    </div>
                    <div class="app-btn">
                        <a href="#0">
                            <button class="light-bg-button ">
                                Talk WIth Us
                      
                        <ion-icon name="chatbubble-outline"></ion-icon>
                     </button>
                </a>
               
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        See Catalogue
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-wrap style3 section-padding mb-4">
    <div class="container">
        <div class="row align-items-center gx-5">
           
            <div class="col-12 col-xl-6 col-lg-6  mb-4">
                <div class="app-content">
                    <div class="content-title style1">
                      
                        <h2>Step 5: Off To Production</h2>
                        <p> Our skilled tailors will start working on your garment 
                            according to the agreed-upon design, measurements, and specifications.</p>
                        
                        
                        <h5>Stay Connected</h5>
                        <p>Throughout the tailoring process, we maintain open lines of communication. If any questions or adjustments are necessary, we will reach out to you promptly.</p>

                        <h5>Final Payment</h5>
                        <p>The remaining balance of your order will be due upon completion of your tailored garment. We will provide you with an invoice detailing the remaining amount, which can be settled using the same payment options as before.</p>

                        <h5>Quality Assurance</h5>
                        <p>Your garment undergoes a thorough quality inspection before delivery to ensure it meets our high standards of craftsmanship.</p>

                        <h5>Delivery or Pickup</h5>
                        <p>Choose your preferred delivery or pickup options for your completed, tailored garment, allowing for your convenience.</p>
                        
                        <h5>Free Remake Guaranteed</h5>
                        <p>
                            We understand that sometimes alterations may be needed to achieve that ideal fit. That's why we proudly offer our "Free Remake Guaranteed" policy
                        </p>

                    </div>
                    <div class="app-btn">
                        <a href="#0">
                            <button class="light-bg-button ">
                                Talk WIth Us
                      
                        <ion-icon name="chatbubble-outline"></ion-icon>
                     </button>
                </a>
               
                <a href="#0">
                    <button class="light-bg-button invert " style="margin-left: 20px;">
                        Start The Process
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                     </button>
                </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 ">
                <div class="app-img-wrap">
                    <img  style="object-fit: cover;max-height: 600px;width: 100%;border-radius: 20px;"  height=""  class="bounce" src="{% static 'img/production.jpg' %}" alt="Image">
                   
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}

{% block js %}

{% endblock %}