

{% load static %}

<div class="row product-list gx-3 gy-4" >
    <div class="col-4 col-lg-4 ">
        <div class="product-card ">

            <img class="catalogue-img explore img-cover " src = "{% static 'img/samples/shoes/9.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <a href="{% url 'product-detail' %}">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
     
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover  " src = "{% static 'img/samples/shoes/12.jpg' %}">
            
            <div class="product-footer">
                    <div class = "product-title">
                        <span>
                            Eleganza Bikata
                        </span>
                        <a href="{% url 'product-detail' %}">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                       
                    </div>
                   
                    <b class="product-price">&#8358;34,000</b>  
            </div>
           
        </div>
       
    
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover" src = "{% static 'img/samples/shoes/11.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
      
    </div>
    <div class="col-4 col-lg-4 ">
        <div class="product-card ">

            <img class="catalogue-img explore img-cover " src = "{% static 'img/samples/shoes/10.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
     
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover  " src = "{% static 'img/samples/shoes/6.jpg' %}">
            
            <div class="product-footer">
                    <div class = "product-title">
                        <span>
                            Eleganza Bikata
                        </span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                   
                    <b class="product-price">&#8358;34,000</b>  
            </div>
           
        </div>
       
    
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover" src = "{% static 'img/samples/shoes/18.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
      
    </div>
    <div class="col-4 col-lg-4 ">
        <div class="product-card ">

            <img class="catalogue-img explore img-cover " src = "{% static 'img/samples/shoes/8.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
     
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover " src = "{% static 'img/samples/shoes/17.jpg' %}">
            
            <div class="product-footer">
                    <div class = "product-title">
                        <span>
                            Eleganza Bikata
                        </span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                   
                    <b class="product-price">&#8358;34,000</b>  
            </div>
           
        </div>
       
    
    </div>
    <div class="col-4 col-lg-4">
        <div class="product-card ">
            <img class="catalogue-img explore img-cover" src = "{% static 'img/samples/shoes/5.jpg' %}">
            <div class="product-footer">
                <div class = "product-title">
                    <span>
                        Eleganza Bikata
                    </span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
               
                <b class="product-price">&#8358;34,000</b>  
        </div>
        </div>
      
    </div>
   

</div>

