{% extends 'admin-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

<style>
    /* Add this to your CSS file or within a <style> tag in your base template */
    .container {
        max-width: 800px;
    }

     .form-row,.form-group {
        margin-bottom: 0px ;
     }

    .form-section {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h3 {
        color: #343a40;
      
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .overlay {
        /* Your overlay styles */
    }

    button {
        height: 60px;
    }
</style>

{% endblock %}


{% block content %}
<div class="main">
    <div class="main-content project container">
        <form method="post" action="" enctype="multipart/form-data">

            

            {{form.non_field_errors}}
             

      
            <!-- Measurement Form Section -->
            <div class="form-section mb-4" style="margin-top: 50px;">
                <h3 class="mb-3">{{form_title}}</h3>
                <div style="margin-top: 30px;">
                    {% crispy form %}
                </div>
               
            </div>
       

          
        </form>
    </div>
</div>

<div class="overlay"></div>

{% endblock %}


{% block js %}


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const isSalaryFixedCheckbox = document.getElementById("id_is_salary_fixed"); // Adjust ID if necessary
        const salaryFieldContainer = document.getElementById("id_salary").closest('.form-group'); 
    
        // Hide salary field initially
        salaryFieldContainer.style.display = "none";
    
        // Function to toggle salary field based on is_salary_fixed checkbox
        function toggleSalaryField() {
            if (isSalaryFixedCheckbox.checked) {
                salaryFieldContainer.style.display = "flex";
            } 
            else {
                salaryFieldContainer.style.display = "none";
            }
        }
    
        // Listen for changes on the is_salary_fixed checkbox
        isSalaryFixedCheckbox.addEventListener("change", toggleSalaryField);
    
        // Initial check in case the checkbox is pre-checked
        toggleSalaryField();
    });
    
    </script>
    
{% endblock %}