{% extends 'admin-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

<style>
    /* Add this to your CSS file or within a <style> tag in your base template */
    .container {
        max-width: 800px;
    }

    input,
    select {
        margin-bottom: 30px;
        min-height: 50px;
    }

    .form-section {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h3 {
        color: #343a40;

    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .overlay {
        /* Your overlay styles */
    }

    button {
        height: 60px;
    }
</style>

{% endblock %}


{% block content %}
<div class="main">
    <div class="main-content project container">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {{form.non_field_errors}}



            <!-- Measurement Form Section -->
            <div class="form-section mb-4" style="margin-top: 50px;">
                <h3 class="mb-3">{{form_title}}</h3>
                <div style="margin-top: 30px;">
                    {% crispy form %}
                </div>

            </div>



        </form>
    </div>
</div>

<div class="overlay"></div>

{% endblock %}